/* General */

:root {
    --primary: #F0F0F0;
    --secondary: #a5b39a;
    --tertiary: #add8e6;
    --gap: 1.0em;
    --radius: 0.5em;
    --margin: 4em;
    /* --banner: 2.0em;
    --control: 50px;
    --content: calc( 100vh - ( 2 * var(--banner) ) - var(--control) ); */
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/** Page sections */

header {
    position: sticky;
    top: 0;
}
footer {
    position: sticky;
    bottom: 0;
}

.banner {
    display: grid;
    grid-template-columns: 3fr repeat( auto-fill, 1fr);
    grid-auto-flow: column;
    padding: var( --gap );
    z-index: 9001;
    background-color: var( --secondary );
    /* border-bottom: solid 10px #CCC; */
}

.banner > * {
    text-align: right;
    color: var( --primary );
}

.banner > *:first-child {
    text-align: left;
    color: var( --primary );
}

/* TODO this seems less eloquent. Try to extract some classes */
/* .label {
    border-radius: var( --radius );
    background-color: var( --secondary );
    color: var( --primary );
    border-radius: var( --radius );
} */

.deck {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat( auto-fill, minmax(256px, 1fr));
    grid-auto-rows: minmax( 362px, 1fr );
    column-gap: var( --margin );
    row-gap: var( --margin );
    padding: var( --margin );
    background-color: var(--primary);
  }

/* Card Styling */

.card {
    display: grid;
    grid-template-rows: 1em auto;
    grid-template-columns: auto 1em;
    column-gap: var( --gap );
    row-gap: var( --gap );
    padding: var( --gap );
    background-color: var( --secondary );
    border-radius: var( --radius );
}

.card > a {
    border-radius: var( --radius );
    grid-area: 1 / 1 / 2 / 2;
    color: var( --primary );
    background-color: var( --secondary );
    height : 100%;
    width : 100%;
}
/** TODO I got to figure out where I'm going to store my images... */
.card > img {
    display: none;
}

.card > div {
    grid-area: 2 / 1 / 3 / 2;
    height : 100%;
    width : 100%;
    overflow : hidden;
    border-radius: var( --radius );
    padding: 1em;
    background-color: var( --primary );
    color: var( --secondary );
}

.card > ul {
    grid-area: 1 / 2 / 3 / 3;
    writing-mode: vertical-lr;
    align-self: flex-start;
    justify-self: center;
    background-color: transparent;
}

.card li {
    display: inline;
    border-radius: var( --radius );
    margin-bottom: var( --gap );
    color: var( --primary );
    /* display: list-item; */
    /* list-style-type: disc; */
}

/** Styling for modal overlay. */
/* .modal {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 3;
    background-color: #444;
    animation: appear 1s ease;
    overflow: hidden;
  }
  
  .modal > iframe {
    position: relative;
    /  * top: 10px;
    left: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);* /
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .modal > button {
  
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 9001;
  }
  
  @keyframes appear {
    0% { opacity:0.0; }
    100% { opacity:1.0; }
  } */

  /* * + * {
    margin-top: 1em;
} */

/* .c { justify-self: center; align-self: center; }
.n { justify-self: center; align-self: start; }
.ne { justify-self: right; align-self: start; }
.e { justify-self: right; align-self: center; }
.se { justify-self: right; align-self: end; }
.s { justify-self: center; align-self: end; }
.sw { justify-self: left; align-self: end; }
.w { justify-self: left; align-self: center; }
.nw { justify-self: left; align-self: start; } */